cryptography==46.0.2
fastapi==0.116.1
logger==1.4
passlib==1.7.4
psutil==7.1.0
pytz==2025.2
redis==6.4.0
regex==2025.9.18
requests==2.32.5
schedule==1.2.2
typing==3.7.4.3
urllib3==2.5.0
uvicorn==0.35.0
pymongo
dnspython
PyJWT==2.8.0
python-decouple==3.8
email-validator==2.3.0
